<form id="enrollForm" name="enrollForm" novalidate class="enroll-rewards-form" action="">
	<div class="form-inputs">
		<div class="row">
			<div class="col form-message">
				<p class="no-margin-bottom">Thank Your For Enrolling in<br/>
					our Rewards Program
				</p>
			</div>
		</div>
		<div class="row">
			<p class="warning-message no-line-height">Your Rewards account is now set up. Simply present your card, or<br/>
				enter your phone number each time you shop to earn great rewards,<br/>
				special savings and exclusive services!
			</p>
		</div>
		<div class="row benefits-message no-line-height">
			<p>Plus, you can now access all the benefits or Rewards membership<br/>
				on our website and new mobile apps.
			</p>
		</div>
		<div class="row benefits-list">
			<ul class="list-style-normal no-line-height">
				<li>Check your point balance</li>
				<li>Load Rewards to your account</li>
				<li>Load valuable digital coupons to your account</li>
				<li>View our new weekly interactive ad</li>
				<li>Create shopping lists</li>
				<li>View Recipes</li>
				<li>And More!</li>
			</ul>
		</div>
		<div class="row">
			<p class="no-line-height note-message">To access your online account, click 
				<a ng-click="openLink('http://www.savemart.com')" class="savemart-link">here</a> and log in with your email <br/>
				and password. An email has been sent to you with your account information.
			</p>
			<br/>
		</div>
		<div class="reques-card">
			<a href="" class="savemart-link" ng-click="requestCard()" style="color: #8b0003; text-decoration: none;">Click here if you would like a physical card for your rewards account.</a>
		</div>
	</div>
	<div class="form-footer">
		<div class="row button-group">
			<div class="col right">
				<button class="button button-stable button-thank" ng-click="goHome()">Thank You!</button>
			</div>
		</div>
	</div>
</form>