<div class="row">
	<div class="col">
		<button class="button button-block button-large button-stable button-text-left" ng-click="selectCardMode(true)">I'd Like A Card </button>
	</div>
</div>
<div class="row">
	<div class="col">
		<button class="button button-block button-large button-stable button-text-left" ng-click="selectCardMode(false)">I'll Just Shop Using My Phone Number At Checkout</button>
	</div>
</div>
<div class="row button-group">
	<div class="col right">
		<button class="button button-stable" ng-click="back()">Back</button>
	</div>
</div>