<form id="enrollForm" name="enrollForm" novalidate ng-submit="submit()" action="">
	<div class="list">
		<div class="row">
			<div class="col col-50">
				<label class="item item-input">
					<input type="text" name="firstName" ng-model="enrollInfo.FirstName" placeholder="First Name" required ng-pattern="nameRegx"/>
				</label>
				<span class="help-block" ng-show="showInvalid && enrollForm.firstName.$error.required">This field is required</span>
				<span class="help-block" ng-show="showInvalid && enrollForm.firstName.$error.pattern">This field dose not allow special characters</span>
			</div>
			<div class="col col-50">
				<label class="item item-input">
					<input type="text" name="middleName" ng-model="enrollInfo.MiddleName" placeholder="Middle Name" ng-pattern="nameRegx"/>
				</label>
				<span class="help-block" ng-show="showInvalid && enrollForm.middleName.$error.pattern">This field dose not allow special characters</span>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<label class="item item-input">
					<input type="text" name="lastName" ng-model="enrollInfo.LastName" placeholder="Last Name" required ng-pattern="nameRegx"/>
				</label>
				<span class="help-block" ng-show="showInvalid && enrollForm.lastName.$error.required">This field is required</span>
				<span class="help-block" ng-show="showInvalid && enrollForm.lastName.$error.pattern">This field dose not allow special characters</span>
			</div>
		</div>
	</div><!-- End list -->
	<div class="row button-group">
		<div class="col right">
			<button type="button" class="button button-stable" ng-click="back()">Back</button>
			<button type="submit" class="button button-stable" ng-click="next()" ng-disabled="enrollForm.$invalid">Next</button>
		</div>
	</div>
</form>