<form id="enrollForm" name="enrollForm" novalidate ng-submit="submit()" class="enroll-password-form" action="">
	<div class="list">
		<label class="item item-input">
			<input type="password" name="password" ng-model="enrollInfo.Password" placeholder="Password" required ng-pattern="passwordRegx"/>
	  	</label>
	  	<span class="help-block" ng-show="showInvalid && enrollForm.password.$error.required">This field is required</span>
		<span class="help-block" ng-show="enrollForm.password.$error.pattern">6-12 characters long and include at least one letter and one number</span>
	</div>
	<div class="list">
		<label class="item item-input">
			<input type="password" name="confirmPassword" ng-model="enrollInfo.ConfirmPassword" placeholder="Confirm Password" required match="enrollInfo.Password"/>
	  	</label>
	  	<span class="help-block" ng-show="showInvalid && enrollForm.confirmPassword.$error.required">This field is required</span>
		<span class="help-block" ng-show="showInvalid && enrollForm.confirmPassword.$error.match">Passwords do not match</span>
	</div>
	<!-- End list -->
	<div class="row button-group">
		<div class="col col-60 small_txt" >Please Note: Your password is case sensitive<br/>& must be at least 6 characters.</div>
		<div class="col right">
			<button type="button" class="button button-stable" ng-click="back()">Back</button>
			<button type="submit" class="button button-stable" ng-click="next()" ng-disabled="enrollForm.$invalid">Next</button>
		</div>
	</div>
</form>