.enroll-customer-rewards-form{
	color: $txt-color;
	font-size: 20px;
	font-weight: bold;
	.form-inputs{
		background:rgba(255,255,255,0.7);
		border-radius: 8px;
		padding-right: 25px;
		padding-left: 40px;
		a.term-cond{color: #6183a9; text-decoration: none;}
		.chk-agree{color: black; font-size: 14px;}
	}
	.form-message{
		text-align: center;
		font-weight: bold; 
		font-size: 26px;
		margin-top: 10px;
		p {
			margin-bottom:  0px;
		}
	}
	.warning-message{
		margin-top:6px; font-size: 22px;
	}
	.no-line-height{
		line-height: 1.3;
	}
	.note-message{
		margin-top: -6px;
		font-size: 26px;
	}
	.savemart-link{
		text-decoration: underline; font-weight: bold; color: black;
	}
	.alert-message{
		margin-top: -12px;
	}	
	.button-thank{
		width: 44% !important;
	}
	.button-group, .right{
		padding-right: 0;
	}
}