
.mcm-icon-nearby:before {
	display: inline-block;
	font-family: "mcm";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-rendering: auto;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.mcm-icon-nearby:before {
	content: "B";
}
.storelocatorPage{
	.store-search-form {
		input {
			font-size: 24px;
			height: 47px;
			line-height: 47px;
		}
		.button-nearby {
			margin-right: 10px;
		}
	}
	.store-list {
		.store-item {
			width: 50%;
			float: left;
		}
	}
	.button-positive {
	
	}
}
.enroll-storelocator{
	.store-search-form{
		.item-input-wrapper input{
			font-size: 24px;
			height: 47px;
			line-height: 47px;
		}
		.button-nearby {
			margin-right: 10px;
		}
	}
}
