<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="sysnify.com.smrelationshop"  version="1.0" android-versionCode="10000" ios-CFBundleVersion="10000" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>savemart</name>
  <description>
        An Ionic Framework and Cordova project.
    </description>
  <author email="tdang@sysnify.com" href="http://ionicframework.com/">
      MCM Technologies
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <access origin="tel:*" launch-external="yes" />
  <access origin="mailto:*" launch-external="yes" />
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen" />
  <preference name="AutoHideSplashScreen" value="false" />
  <preference name="SplashScreenDelay" value="10000" />
  <preference name="Orientation" value="portrait"></preference>
  <preference name="KeyboardDisplayRequiresUserAction" value="false" />
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>