$luck_red: #e91d25;
$dark_gray: #4c4c4e;
$mid_gray: #929496;
$light_gray: #c5c7c9;
$light-gray2: #dddfe0; /* in shopping list */
$light-gray3: #cdcdcd; /* in shopping list: check box */
$gray: #909193;
$dark_red: #b6212c; /* price */
$black: #231f20;

/* rewards programs */
$rg_available_bg: #a02e34;
$rg_loaded_bg: #ec1c24;
$rg_dc_bg: #6d6e71;
$rg_so_bg: #bcbec0;
$rg_cf_bg: #814735;




$mainbar_bg: $luck_red;
$menu_bg: white;
$secondbar_bg: $dark_gray;
$secondbar_btn_text_color: $mid_gray;
$text_color: $black;
$price_text_color: $dark_red;

$tab_bg: $secondbar_bg;
$tab_bg: $secondbar_bg;
$tab_color: white;
$tab_active_color: $luck_red;
$tab_active_bg: white;

/* overrid ionic */
$button-light-text: $black;
$base-color: $black;
$positive: $luck_red;
$energized: $luck_red;
$assertive: $luck_red;
$calm: $light_gray;

/* united */
$orange_red : $luck_red;
$dark_blue: #345fa4;
/*$light_blue: #5ea7ad;*/
$light_blue: #7cc7f1;
$blue: #345fa4;
$txt_blue: #5ea7ad; /* congraulation MyRx clue */

$red2: #cc232a; /* reward programs */
$green: #afcc56;
$brown: #744938;

$main-background: #8b0003;