<ion-view id="Home" class="pane">
	<ion-content>
		<div class="p-large center">
			<p>
				Earn points with each purchase<br/>
				Exchange points for valuable rewards<br/>
				Receive offers on the things you buy most</br>
			</p>
		</div>
		<div class="row">
			<div class="col"></div>
			<div class="col col-40">
				<button class="button button-block button-large button-stable" ng-click="goTo('app.enroll.cardmode',{mode:'customer'})">Customer</button>
			</div>
			<div class="col col-40">
				<button class="button button-block button-large button-stable" ng-click="goTo('app.enroll.cardmode',{mode:'associate'})">Associate</button>
			</div>
			<div class="col"></div>
		</div>
		<div class="p-base center">
			<p>
				It only takes a minute or so to create your rewards account</br>
				Sign-up now, so you earn points today</br>
				It doesn’t cost anything. Just shop, earn and get rewarded!</br>
			</p>
		</div>
	</ion-content>
</ion-view>